{% extends 'base.html' %}
{% load static %}

{% block navbar %}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                {% if request.user.is_authenticated %}
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">{{ request.user.username }}</span>
                        <span class="text-muted text-xs block">menu <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">My account</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Change Password</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                <form class="form-inline ml-auto">
                    <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                    <a href="{% url 'register' %}" class="btn btn-primary ml-2">Sign up</a>
                  </form>
                {% endif %}
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li>
                <a href="{% url 'list_inst' %}"><i class="fa fa-th-large"></i> <span class="nav-label">Institutions</span></a>
            </li>
            <li class="active"> 
                <a href="{% url 'list_std' %}"><i class="fa fa-diamond"></i> <span class="nav-label">Students</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Teachers</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Assessments</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Books</span></a>
            </li>
        </ul>

    </div>
</nav>
{% endblock %}





{% block content %} 

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h3></h3>
      <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item active">
              <strong>Students</strong>
          </li>
      </ol>
  </div>
</div>
<div class="wrapper wrapper-content">

    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">

            <div class="profile-image">
                <img src="img/a4.jpg" class="rounded-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            {{ std.first_name }} {{ std.last_name }}
                        </h2>
                        <h4>{{ std.institute }}</h4>
                        <small>
                            {{ std.school }}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <table class="table small m-b-xs">
                <tbody>
                <tr>
                    <td>
                        <strong>142</strong> Projects
                    </td>
                    <td>
                        <strong>22</strong> Followers
                    </td>

                </tr>
                <tr>
                    <td>
                        <strong>61</strong> Comments
                    </td>
                    <td>
                        <strong>54</strong> Articles
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>154</strong> Tags
                    </td>
                    <td>
                        <strong>32</strong> Friends
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <small>Sales in last 24h</small>
            <h2 class="no-margins">206 480</h2>
            <div id="sparkline1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Custom responsive table </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li><a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form action="{% url 'detail_std' id %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-5 m-b-xs">
                                {{ form.dptclass }}
                            </div>
                            <!-- <div class="col-sm-4 m-b-xs">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-sm btn-white ">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked> Day
                                    </label>
                                    <label class="btn btn-sm btn-white active">
                                        <input type="radio" name="options" id="option2" autocomplete="off"> Week
                                    </label>
                                    <label class="btn btn-sm btn-white">
                                        <input type="radio" name="options" id="option3" autocomplete="off"> Month
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group"><input placeholder="Search" type="text" class="form-control form-control-sm"> <span class="input-group-append"> <button type="button" class="btn btn-sm btn-primary">Go!
                                </button> </span></div>

                            </div> -->
                        </div>
                        <div class="table-responsive" id="courses">
                                <input type="hidden" name="student_id" value="{{ id }}"/>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Course name</th>
                                        <th>ABB</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <button type="submit" class="btn btn-primary float-right">save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
  
</div>
  
{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{% static 'js/ajax-tools.js' %}"></script>
<script type="text/javascript">
    var coursesProfile = [0];
    {% for course in courses %}
    coursesProfile.push(parseInt('{{ course.pk }}'));
    {% endfor %}
    
    $(document).ready(() => {
        ce_dptcls = $('#std-dptcls');
        url = `/api/courses/?ce_dptcls=${ce_dptcls.val()}`;
        getCourses(url);
        ce_dptcls.change(function () {
            url = `/api/courses/?ce_dptcls=${ce_dptcls.val()}`;
            getCourses(url);
        });

    });

    function getCourses(url) {
        $.getJSON(url, (res) => {
        pushCourses(res['results']);
        });
    }

    function pushCourses(courses) {
        coursesH = $('#courses table tbody')
        coursesH.html('') // Clean it

        courses.forEach((course) => {
            let inStdCrses = ''
            if (course.id in coursesProfile) {
                inStdCrses = 'checked'
            }

            coursesH.append(`
            <tr>
                <td><input type="checkbox" class="i-checks" ${inStdCrses} name="course" value="${course.id}"></td>
                <td>${course.ce_name}</td>
                <td>${course.ce_abb}</td>
            </tr>
            `);
        })
    }
</script>

<script type="text/javascript">
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });        
</script>

{% endblock %}